{% extends 'edit_base.html' %}


{% block buttons %}
<h5>Введите новые поля для изменения</h5>
<form method="POST" action="/administration/admin/users/edit/commit" class="form-inline">
    <div class="form-group">
        <input type="text" name="name" placeholder="Name" class="form-control" >
    </div>
    <div class="form-group">
        <input type="text" name="password" placeholder="Password" class="form-control" >
    </div>
    <div class="form-group">
        <input type="number" name="tg_id" id="tg_id" placeholder="TG ID" class="form-control" >
        <span id="error-msg" style="color: gray;"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>
    document.getElementById('tg_id').addEventListener('input', checkInputLength);

    function checkInputLength() {
        var input = document.getElementById("tg_id");
        var errorMsg = document.getElementById("error-msg");
        
        if (input.value.length < 9) {
            errorMsg.innerText = "Минимальное количество символов: 9";
        } else {
            errorMsg.innerText = "";
        }
    }
</script>
{% endblock %}