{% extends 'base.html' %}



{% block title %}
Admin Panel - Users
{% endblock %}


{% block hs %}
<h1>Таблица пользователей</h1>
<h5>Добавить пользователя</h5>
<form method="POST" action="add" class="form-inline">
    <div class="form-group">
        <input type="text" name="name" placeholder="Name" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="text" name="password" placeholder="Password" class="form-control" required>
    </div>
    <div class="form-group">
        <input type="number" name="tg_id" id="tg_id" placeholder="TG ID" class="form-control" required>
        <span id="error-msg" style="color: gray;"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
</form>

<script>
    document.getElementById('tg_id').addEventListener('input', checkInputLength);

    function checkInputLength() {
        var input = document.getElementById("tg_id");
        var errorMsg = document.getElementById("error-msg");
        
        if (input.value.length < 9) {
            errorMsg.innerText = "Минимальное количество символов: 9";
        } else {
            errorMsg.innerText = "";
        }
    }
</script>
{% endblock %}

{% block addrecords %}

{% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.tg_id }}</td>
            <td>  <!-- Добавляем кнопку удаления в виде корзины -->
                <td style="white-space: nowrap;">  
                    <form method="GET" action="edit/{{ user.id }}/{{ user.name }}/{{ user.password }}/{{ user.tg_id }}" style="display: inline-block;">
                        <button type="submit" class="btn btn-primary edit-btn">
                            <i class="fa fa-pencil"></i> 
                        </button>
                    </form>
                    <form method="POST" action="delete/{{ user.id }}" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger delete-btn">
                            <i class="fa fa-trash"></i> 
                        </button>
                    </form>
                </td>
                </form>
            </td>
        </tr>
        {% endfor %}

{% endblock %}

{% block tablecol %}
<th>ID</th>
<th>Name</th>
<th>Password</th>
<th>TG ID</th>
{% endblock %}
